.cart-page {
  padding: 20px;
}

.cart-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.cart-container {
  display: flex;
  gap: 20px;
}

.cart-items {
  flex: 2;
}

.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.cart-item-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 15px;
}

.cart-item-info {
  flex: 1;
}

.remove-btn {
  background: red;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}

.cart-summary {
  flex: 1;
  border: 1px solid #ddd;
  padding: 20px;
  height: fit-content;
}

.checkout-btn {
  background: black;
  color: white;
  padding: 10px;
  width: 100%;
  margin-top: 15px;
  cursor: pointer;
  border: none;
}

.qty-btn{
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  cursor: pointer;
  font-size: 18px;
  margin: 0px 10px;
}
.qty-btn:hover{
  background-color: #a6a6a6b7;
  transition: ease-in-out 0.3s;
}
.modifier-controls{
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.qty{
  font-size: 16px;
  min-width: 20px;
  text-align: center;
}