.hero {
  height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url("../assets/images/hero-banner.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0 1rem;
  margin-top: 10px;
  width: 100%;
}

.hero-content {
  max-width: 700px;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}

.primary-btn {
  background: #ff8e04; 
  color: white;
}

.primary-btn:hover {
  background:  #c76f04;
}

.secondary-btn {
  background: white;
  color: #000000;
}

.secondary-btn:hover {
  background: #f3f4f6;
}
